* {
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}
.containet {
    position: relative;
}

video {
    width: 100%;
    opacity: 0.6;
}

.test {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
}
h1 {
    color: #000;
}